@page "/employeeDetails/{EmployeeId}"
@inject NavigationManager NavigationManager

@inject EmployeeService EmployeeService
@if (employee != null)
{
    <div class="card" style="text-transform:capitalize;">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h5 class="mb-0">@($"{employee.FirstName} {employee.LastName}")</h5>
                    <h6 class="text-muted">@employee.Designation</h6>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary btn-sm" @onclick="NavigateToPersonalEditForm">Edit</button>
                </div>
            </div>
            <table class="table table-bordered table-sm">
                <thead class="table-light">
                    <tr>
                        <th colspan="2">Personal Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Email</td><td>@employee.CurrentEmail</td></tr>
                    <tr><td>Gender</td><td>@employee.Gender</td></tr>
                    <tr><td>Marital Status</td><td>@employee.MaritalStatus</td></tr>
                    <tr><td>Date of Birth</td><td>@employee.DateOfBirth.Value.ToShortDateString()</td></tr>
                    <tr><td>Blood Group</td><td>@employee.BloodGroup</td></tr>
                    <tr><td>Nationality</td><td>@employee.Nationality</td></tr>
                    <tr><td>Father's Name</td><td>@employee.FatherName</td></tr>
                    <tr><td>Mother's Name</td><td>@employee.MotherName</td></tr>
                    <tr><td>Sons</td><td>@employee.Sons</td></tr>
                    <tr><td>Daughters</td><td>@employee.Daughters</td></tr>
                    <tr><td>Allergies</td><td>@employee.Allergies</td></tr>
                    <tr><td>Medications</td><td>@employee.Medications</td></tr>
                    <tr><td>Physically Challenged</td><td>@employee.PhysicallyChallenged</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr> 

                </tbody>
                <thead class="table-light">
                    <tr>
                        <th colspan="2">Employment Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Employee ID</td><td>@employee.EmployeeID</td></tr>
                    <tr><td>Type of Employment</td><td>@employee.TypeOfEmployment</td></tr>
                    <tr><td>Level</td><td>@employee.Level</td></tr>
                    <tr><td>Designation</td><td>@employee.Designation</td></tr>
                    <tr><td>Joining Location</td><td>@employee.JoiningLocation</td></tr>
                    <tr><td>Date of Joining</td><td>@employee.DateOfJoining.Value.ToShortDateString()</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr>

                </tbody>

                <thead class="table-light">
                    <tr>
                        <th colspan="2">Address Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Current Address</td><td>@employee.CurrentAddress</td></tr>
                    <tr><td>Current City</td><td>@employee.CurrentCity</td></tr>
                    <tr><td>Current State</td><td>@employee.CurrentState</td></tr>
                    <tr><td>Current Zip</td><td>@employee.CurrentZip</td></tr>
                    <tr><td>Permanent Address</td><td>@employee.PermanentAddress</td></tr>
                    <tr><td>Permanent City</td><td>@employee.PermanentCity</td></tr>
                    <tr><td>Permanent State</td><td>@employee.PermanentState</td></tr>
                    <tr><td>Permanent Zip</td><td>@employee.PermanentZip</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr>

                </tbody>

                <thead class="table-light">
                    <tr>
                        <th colspan="2">Passport Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Full Name</td><td>@employee.PassportFullName</td></tr>
                    <tr><td>Passport No</td><td>@employee.PassportNo</td></tr>
                    <tr><td>Nationality</td><td>@employee.PassportNationality</td></tr>
                    <tr><td>Issue Date</td><td>@employee.PassportIssueDate.Value.ToShortDateString()</td></tr>
                    <tr><td>Expiry Date</td><td>@employee.PassportExpiryDate.Value.ToShortDateString()</td></tr>
                    <tr><td>Place of Issue</td><td>@employee.PassportPlaceOfIssue</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr>

                </tbody>

                <thead class="table-light">
                    <tr>
                        <th colspan="2">Emergency Contacts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Contact 1 Name</td><td>@employee.EmergencyContact1Name</td></tr>
                    <tr><td>Relationship</td><td>@employee.EmergencyContact1Relationship</td></tr>
                    <tr><td>Address</td><td>@employee.EmergencyContact1Address</td></tr>
                    <tr><td>City</td><td>@employee.EmergencyContact1City</td></tr>
                    <tr><td>State</td><td>@employee.EmergencyContact1State</td></tr>
                    <tr><td>Zip</td><td>@employee.EmergencyContact1ZipCode</td></tr>
                    <tr><td>Mobile</td><td>@employee.EmergencyContact1Mobile</td></tr>

                    <tr><td>Contact 2 Name</td><td>@employee.EmergencyContact2Name</td></tr>
                    <tr><td>Relationship</td><td>@employee.EmergencyContact2Relationship</td></tr>
                    <tr><td>Address</td><td>@employee.EmergencyContact2Address</td></tr>
                    <tr><td>City</td><td>@employee.EmergencyContact2City</td></tr>
                    <tr><td>State</td><td>@employee.EmergencyContact2State</td></tr>
                    <tr><td>Zip</td><td>@employee.EmergencyContact2ZipCode</td></tr>
                    <tr><td>Mobile</td><td>@employee.EmergencyContact2Mobile</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr>

                </tbody>

                <thead class="table-light">
                    <tr>
                        <th colspan="2">Nominee Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Name</td><td>@employee.NomineeName</td></tr>
                    <tr><td>Relationship</td><td>@employee.NomineeRelationship</td></tr>
                    <tr><td>Address</td><td>@employee.NomineeAddress</td></tr>
                    <tr><td>City</td><td>@employee.NomineeCity</td></tr>
                    <tr><td>State</td><td>@employee.NomineeState</td></tr>
                    <tr><td>Zip</td><td>@employee.NomineeZipCode</td></tr>
                    <tr><td>Mobile</td><td>@employee.NomineeMobile</td></tr>
                    <tr><td colspan="2" style="height: 20px;"></td></tr>

                </tbody>

                @* <thead class="table-light"> *@
                @*     <tr> *@
                @*         <th colspan="2">Timestamps</th> *@
                @*     </tr> *@
                @* </thead> *@
                @* <tbody> *@
                @*     <tr><td>Created At</td><td>@employee.CreatedAt.ToShortDateString()</td></tr> *@
                @*     <tr><td>Last Modified At</td><td>@employee.LastModifiedAt.ToShortDateString()</td></tr> *@
                @* </tbody> *@
            </table>
        </div>
    </div>
}
else
{
    <p>Loading employee details...</p>
}

@code {
    [Parameter] public string EmployeeId { get; set; }

    private EmployeeDetails employee;
    private void NavigateToPersonalEditForm()
    {
        // Navigate to edit page, optionally passing the employee ID
        NavigationManager.NavigateTo($"/personalEditForm/{employee.EmployeeID}");
    }


    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.GetEmployeeDetails(EmployeeId);
    }
}